/* Students:
 * =========
 * Add styling to your d3 chart with this file. */
 .chart svg g text tspan {
   background: white;
   color: white;
 }

 .tooltip {
    position: absolute;
    width: 135px;
    height: 60px;
    padding: 2px;
    padding-top: 8px;
    font: 12px sans-serif;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    border: 0;
    border-radius: 10px;
  }

  .axisText {
    font-family: sans-serif;
    font-weight: bold;
    fill: #551aaf;
    text-anchor: middle;
  }
